:root {
  --primary-text: rgb(239, 238, 238);
  --secondary-text: rgb(189, 39, 39);
  --tertiary-text: rgb(50, 49, 49);
  --primary-color: rgb(208, 207, 207);
  --secondary-color: rgb(22, 22, 22);
  --shadow: 0 2px 5px rgba(0, 0, 0, 0.799);
  --shadow-hover: 0 3px 6px rgba(0, 0, 0, 0.87);
}
